.header {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;



}

.btn-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}